@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Light\ Italic.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Regular\ Italic.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Medium\ Italic.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ SemiBold\ Italic.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Bold\ Italic.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Black.ttf") format("truetype");
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Gelion";
	src: url("/assets/fonts/Gelion\ Black\ Italic.ttf") format("truetype");
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}
