$col-darkBlue: #150e28;
$col-purple: #903aff;
$col-lightPurple: #d434fe;
$col-white: #ffffff;
$col-pink: #ff26b9;
$col-pink-2: #fe34b9;

$col-blue: #3754db;
$col-lightBlue: #8098ff;
$col-grey: #62667e;
$col-grey-2: #636363;
$col-grey-3: #666666;
$col-danger: #ff0000;
$col-black: #000000;

$gradient-purple: linear-gradient(270deg, $col-purple 0%, $col-pink 56.42%, $col-pink 99.99%, $col-pink-2 100%);

$font-gelion: "Gelion";
