$col-white: #ffffff;
$col-blue: #3754db;
$col-lightBlue: #8098ff;
$col-darkBlue: #101c56;
$col-grey: #62667e;
$col-grey-2: #636363;
$col-grey-3: #666666;
$col-danger: #ff0000;
$col-black: #000000;
$col-whitishBlue: #f5f7fe;
$col-greyishBlue: #f6f8fd;

$font-amulya: "Amulya";
