.vc-container {
	width: 100% !important;

	.vc-header {
		padding-left: 0 !important;
		padding-right: 0 !important;

		.vc-arrow,
		.vc-title {
			border: 1.5px solid var(--sec-border-color);
			border-radius: 1.4rem;
			background: transparent;
			color: var(--text-color);
		}
	}

	.vc-pane,
	.vc-weeks {
		min-width: 100% !important;
	}

	.vc-weeks {
		padding: 1.6rem 0 !important;
	}

	.vc-weekday {
		color: var(--text-color);
	}

	.vc-day-content {
		width: 100% !important;
		height: 3rem !important;

		color: var(--text-color);
	}

	.vc-highlight-bg-solid {
		background: var(--sec-border-color) !important;
	}
}
